.main-body-style {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.gradient-heading {
  color: navy; 
  background: linear-gradient(to right, navy, #FFA500);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  font-size: 3em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.image-container {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.hero-bg {
    background-image: url('asset/kosen.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
}

.text-container {
    position: relative;
    padding: 50px 20px;
    background-color: white;
    z-index: 2;
}
.email-icon{
    background-image: url('asset/mail-icons.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.tabs {
    display: flex;
    justify-content: center;
    background: #ffffff;
    border-bottom: 2px solid #ddd;
}

.tab {
    padding: 15px 25px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    transition: 0.3s;
}

.tab:hover {
    background: #f0f0f0;
}

.tab.active {
    border-bottom: 4px solid #003366;
    color: #003366;
}

.content {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    display: none;
    border-radius: 8px;
}

.content.active {
    display: block;
}

.dept-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.dept-text {
    flex: 1;
}

.dept-text h2 {
    color: #003366;
    margin-bottom: 10px;
}

.dept-text p {
    line-height: 1.6;
}

.dept-image {
    flex: 1;
    text-align: center;
}

.dept-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .dept-container {
        flex-direction: column;
    }
}

.gradient-heading-red-orange {
    background: linear-gradient(to right, #c13838, #ff9933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}

.gradient-heading-green-orange {
    background: linear-gradient(to right, #306f33, #FF9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}

.banner {
    background: linear-gradient(to top, #ffffff, #ff853e);
    padding: 1px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;                           
    justify-content: center;                 
    align-items: center;
}

.logo-container {
    display: flex;                           
    align-items: center;                     
    position: absolute;                     
    left: 100px;
}

.logo1, .logo2 {
    height: 50px;                            
    margin-right: 10px;
}                    

.dropdown-btn {
    background-color: #fd9753;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f6f8;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
}

.dropdown-content.show {
    display: block;
}

.goToTop {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2864d3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
.goToTop:hover {
    background-color: #0056b3;
}

.contact-container {
    display: flex;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d6eaff; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 30px;
}

.contact-form-section {
    flex: 2; 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.contact-info-section {
    flex: 1; 
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form-section h3 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #343a40;
    font-size: 1.5em;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

.name-email-group {
    display: flex;
    gap: 20px;
}

.input-container {
    flex: 1;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 1em;
    transition: border-color 0.3s;
}

.form-input:focus, .form-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-textarea {
    resize: vertical;
    min-height: 150px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #495057;
}

.send-button {
    width: 100%;
    padding: 15px;
    background-color: #ef844b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button:hover {
    background-color: #ef844b;
}

.send-icon {
    margin-right: 10px;
}


.contact-card, .business-hours-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.business-hours-card {
    background-color: #ef844b; 
    color: white;
}

.contact-card h3, .business-hours-card h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: 600;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-icon-wrapper {
    background-color: #f1f3f5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    color: #0b4580; 
}

.contact-item-details {
    display: flex;
    flex-direction: column;
}

.contact-item-details strong {
    font-weight: 600;
    color: #343a40;
    margin-bottom: 3px;
}

.contact-item-details p {
    margin: 0;
    color: #6c757d;
}

.contact-item-details .phone-numbers a, 
.contact-item-details .social-links a, 
.contact-item-details p a {
    color: #007bff;
    text-decoration: none;
    display: block; 
    margin-top: 2px;
}
.contact-item-details .phone-numbers a {
    color: #6c757d; 
}
.contact-item-details .social-links a {
    color: #6c757d; 
}
.contact-item-details strong.social-label {
    margin-top: 10px; 
    display: block;
    color: #343a40;
}


.business-hours-card .hours-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.business-hours-card .hours-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.business-hours-card .hours-list li strong {
    font-weight: normal;
}

@media (max-width: 992px) {
    .contact-container {
        flex-direction: column;
        margin: 30px 15px;
        gap: 20px;
    }

    .contact-form-section, .contact-info-section {
        flex: none;
        width: 100%;
        min-width: auto;
    }
}
@media (max-width: 576px) {
    .name-email-group {
        flex-direction: column;
        gap: 0;
    }
    .contact-form-section {
        padding: 20px;
    }
    .contact-card, .business-hours-card {
        padding: 20px;
    }
}

.button-overlay {
    position: absolute; 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

.overlay-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 123, 0); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s, transform 0.2s;
}

.primary-btn {
    background-color: #ffffff; 
}

.primary-btn:hover {
    background-color: #071e43;
    transform: translateY(-2px);
}

.secondary-btn {
    background-color: #ffffff; 
}

.secondary-btn:hover {
    background-color: #071e43;
    transform: translateY(-2px);
}

.home-button {
    position: fixed;
    top: 50px;
    right: 30px;
    background: none;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.home-button:hover {
    background: linear-gradient(45deg, #ffb347, #ff7a18);
}

.home-button .home-icon {
    width: 100%;  /* Icon size */
    height: 100%;
    object-fit: contain;  /* Ensure the icon fits inside the button */
}

.quick-links-footer {
    background-color: rgb(16, 16, 38);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.quick-links-footer h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.quick-links-footer .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

.quick-links-footer .footer-links a:hover {
    color: #ff853e;
    text-decoration: underline;
}
