.main-body-style {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.gradient-heading {
  color: navy; 
  background: linear-gradient(to right, navy, #FFA500);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  font-size: 3em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.image-container {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.hero-bg {
    background-image: url('asset/kosen.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
}

.text-container {
    position: relative;
    padding: 50px 20px;
    background-color: white;
    z-index: 2;
}